ion-card-subtitle{
  font-family: "Helvetica Neue";
  font-size: 12px;
}
.input{
  height: 150px;
}
.summary{
  height: 95px;
}

ion-label{
  font-size: 15px;
}

.level{
  font-family: "Helvetica Neue";
  padding: 20px;
  font-weight: bold;
}
