ion-card-title {
  font-size: 20px;
  font-family: Helvetica Neue;
}
ion-header{
  font-family: "Helvetica Neue";
}
ion-card{
  padding-right: 10px;
  padding-left: 10px;
}
.summary{
  color: white;
  padding: 5px;
  font-family: Helvetica Neue;
}

.log-list{
  font-family: "Helvetica Neue";
  padding-left: 100px;
}
